*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #DDDD;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 5%;
    background-color: #DDDD;
}

header a{
    text-decoration: none;
    display: inline-block;
}

header nav ul{
list-style-type: none;
}

header nav ul{
list-style-type: none;
}

header nav ul li{
display: inline-block;
padding: 0 40px;
}
.logo img{
    height: 100px;
}


/*MAIN*/

main{
    height: calc(100vh - 200px);
    background-color: #DDDD;
}

.painel{
    background-color: rgb(250, 105, 105);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid black;
    height: 500px;
    margin: 0 5%;
    padding: 10px;
}

.painel img{
    height: 100%;
    width: 50%;
    border: 1px solid black;
}
.painel iframe{
    height: 100%;
    width: 100%;
}
